---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

export const prerender = true;
---

<Layout title="Welcome to instant">
	<main>
		<h1>欢迎来到 <span class="text-gradient">instant</span></h1>
		<p class="instructions">
			如何使用？<a href="https://i.postimg.cc/Bv6zx61C/image.jpg" target="_blank">color: black;电脑点我查看使用教程</a>  <a href="https://i.postimg.cc/0Q2J5zr7/image.jpg" target="_blank">手机点我查看使用教程</a><br />
			<strong>首次加载较慢等待1-2分钟</strong> <a href="https://docs.qq.com/doc/DZkpzU1BSRVNoeXp6" target="_blank">生成app图标教程</a>
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://ssr.ainstant.pro"
				title="点击进入心语Ai写作"
				body="感知你的心，诠释你的语。xiyuAl Writing"
			/>
			<Card
				href="https://pan.quark.cn/s/bf39206d8095"
				title="点击查看Ai使用课程"
				body="提取码：ZUmq"
			/>
			<Card
				href="http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=3AezZbfpwc_PeBi1JNRiHflf7dMf4WKx&authKey=buaPdn2yynCvyEx0XStVcrJxkuODNOpbzkTu9MrxqLOmPn3IxlJqk2kNIBXZCZtp&noverify=0&group_code=87211680"
				title="点击加入Ai交流群"
				body="售后问题请联系专业售后人员"
			/>
			<Card
				href="https://ssr.ainstant.pro"
				title="新加项目"
				body="❤️ 支持4.0模型           ❤️支持MJ绘画"
			/>
			<Card
				href="https://i.postimg.cc/d3h7cGXx/1-406302360.jpg"
				title="五星十字晒图"
				body="❤️ 可领取降重查重工具每天免费使用 ❤️"
				body="❤️ 降重每天免费1小时/查重每天免费1次❤️"
			/>
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
